:root{
--body-background: #fff;
    --it-primary-orange: #F58634;
    --it-primary-green: #003333;
}

body, html {
    font-family: 'Nunito', sans-serif;
    background: var(--body-background)
}


.it-bg-orange {
    background: var(--it-primary-orange);
    color: #ffffff !important;
    border: 1px solid var(--it-primary-orange);
}

.it-text-green {
    color: var(--it-primary-green) !important;
}

.it-bg-green {
    background: var(--it-primary-green) !important;
}


